pydrive2==1.20.0
google-auth==2.34.0
huggingface_hub==0.24.6
tqdm==4.66.5
python-dotenv==1.0.1
pandas==2.2.2
pyopenssl==22.1.0 
oauth2client==4.1.3 
pydrive2
google-auth-oauthlib
soundfile
pandas
tqdm
pystoi
pyloudnorm
speechbrain
torch
voicefixer
deepfilternet
numpy<2
scipy<1.12
numba<0.58
librosa==0.10.2.post1
resemble-enhance==0.0.1